.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 15px;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.link {
  color: rgb(255, 53, 53);
  cursor: pointer;
}

.logo{
  max-width: 30px;
  max-height: 30px;
}

.header{
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.content{
  width: 400px;
  margin-left: 10rem;
}

.oContent {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.context{
  display: flex;
  justify-content: center;
}

.textBtnLink{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentText{
  width: 400px;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 25px;
}

.contentBtn{
  width: 100%;
  border-radius: 50px;
  border: none;
  color: #fff;
  background: rgb(255, 53, 53);
  padding: 10px;
  text-transform: capitalize;
  font-size: 15px;
  height: 50px;
  cursor: pointer;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.eachBtn{
  width: 25%;
  margin-left: 1.5rem;
}

.skipBtn {
  color: rgb(255, 53, 53);
  background: #eeeeee;
}

.footer{
  padding-left: 15rem;
  margin-top: 3rem;
  font-size: 15px;
}

.question {
  display: flex;
  font-size: 15px;
}

.btns {
  display: flex;
  justify-content: center;
}