.login-btn {
    width: 150px;
    height: 49.62px;
    top: 62px;
    left: 1004px;
    padding: 11.24px;
    border: 1px solid !important;
    border-color: #ff1313 !important;
    position: sticky;
    color: #fff;
    cursor: pointer;
    background-color: transparent !important;
}

.login-btn:hover {
    background: #fff !important;
    color: #ff1313 !important;
}

.login-btn-container{
    margin-right: 15rem;
}

.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-div {
    width: 401px;
    height: 68px;
    top: 53px;
    padding: 16px;
    border-bottom: 1px solid #ffffff36;
    gap: 4px;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p{
    margin-bottom: 0;
    font-size: 25px;
    margin-left: 5px;
}

.actual-logo {
    max-width: 25px;
    max-height: 25px;
}

.container {
    position: absolute;
    left: 0;
}

.whole-content {
    margin-left: 0 !important;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-text {
    max-width: 770px !important;
    display: flex;
    flex-direction: column;
}

.sub-text {
    width: 62%;
    text-align: center;
    align-self: center;
    font-size: 22.3px;
}

.question-header {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.customized-text {
    color: #ff1313;
    text-transform: uppercase;
}

.btns-sect {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btns-sect button{
    margin-inline: .5rem;
    width: 100%;
}

.grey {
    background: #d9d9d9 !important;
    color: #ff1313 !important;
    border: none !important;
}

.grey:hover {
    color: #ff1313 !important;
    background: #fff !important;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}